@model WebApplication.Models.resrvation

@Styles.Render("~/Content/css")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>resrvation</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.car_name_)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.car_name_)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.car_number_plate_)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.car_number_plate_)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.person_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.person_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.person_email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.person_email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.long_time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.long_time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.start_date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.start_date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.finish_date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.finish_date)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
